:root {
	--bg-lightgray: #F0F0F0;
	--img-outline-gray: #E6E6E6;
	--circle-green: #7CB06C;
	--circle-orange: #EB9D3A;
	--circle-red: #E6563B;
	--circle-teal: #00ABA9;
}

/*DEFAULT XS STYLING*/
body {
	background-color: var(--bg-lightgray);
	margin: 0;
	padding: 0;
	/*background-color: cornflowerblue; !* for container dimensions and color contrasts *!*/
}

.logo-bg {
    background-color: white;
    text-align: center;
    height: 60px;
    margin-bottom: 70px;
    width: 100%;
}

.logo-default {
	position: relative;
	top: -30px;
	height: 130px;
	width: 130px;
}

.contact-info {
	display: flex;
}

.codeup-design-title>h1 {
	font-family: "Abel", sans-serif;
}

.nav-links {
	margin-top: 1em;
	font-family: "Abel", sans-serif;
	width: 313px;
}

.visual-design {
	font-family: "Anton", sans-serif;
	width: 313px;
}

.visual-design>h1 {
	font-size: 2.5em;
}

.circles {
	width: 313px;
	margin: auto;
}

.circle {
	margin: .2em;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: solid 7px white;
	color: white;
	font-family: "Anton", sans-serif;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle-red {
	background-color: var(--circle-red);
}

.circle-orange {
	background-color: var(--circle-orange);
}

.circle-green {
	background-color: var(--circle-green);
}

.circle-teal {
	background-color: var(--circle-teal);
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 2em;
	height: 2em;
	border-radius: 50%;
	margin: .5em;

	font-family: "Anton", sans-serif;
	font-size: 10px;
	font-weight: bolder;
}

#selected-work {
	width: 313px;
	margin: auto;
	display: flex;
}

#selected-work h3 {
	font-family: "Abel", sans-serif;
	margin: auto;
	display: block;
	font-size: 15px;
}

#selected-work h6 {
	font-family: "Abel", sans-serif;
	font-size: 15px;
}

.sub-feat-prod {
	margin: 0;
	display: flex;
}

.feat-text {
	margin: auto;
	font-size: 1.1em;
}

.feat-image {
	background-color: var(--img-outline-gray);
}

.feat-image img {
	padding: .6em;
}

#the-last {
	display: none;
}

/*SM STYLING*/
@media screen and (min-width:576px) {
	.nav-links {
		display: none;
	}

	.visual-design {
		width: 576px;
	}

	.circles {
		width: 576px;
		margin: 4em 0 0 0;
	}

	.main-logo div {
		margin: 1em;
	}

	#selected-work {
		width: 576px;
		justify-content: space-between;
		margin: auto;
	}

	#selected-work h3{
		width: 100%;
	}

	#selected-work h6{
		font-size: 15px;
	}

	.feat-prod {
		width: 45%;
	}

	.sub-feat-prod {
		width: 100%;
	}

	#the-last {
		display: none;
	}

	#selected-AND-last {
		justify-content: center;
	}
}

/*MD STYLING*/
@media screen and (min-width:768px) {
	#selected-work {
		width: 400px;
		margin: .5em;
		display: flex;
		justify-content: center;
	}

	.container-2 {
		width: 720px;
	}

	#selected-AND-last {
		justify-content: space-between;
	}

	.sub-feat-prod {
		justify-content: space-between;
		width: 100%;
	}

	.feat-text {
		margin: 0 auto;
	}

	#the-last {
		display: unset;
		width: 5em;
	}
}